@model SMS.Models.ExamSchedule

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

    System.Data.DataTable dt2 = ViewBag.abc;

}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">ExamSchedule Edit</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/HOD/SubmitExamScheduleEdit" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label>Semester</label>
                        <select class="form-control" name="Semester">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>ScheduleFile</label>
                        <input type="file" class="form-control" name="ScheduleFile"  @((Model.ScheduleFile == "ScheduleFile") ? "selected=selected" : "") value="@Model.ScheduleFile">
                    </div>
                    <div class="form-group">
                        <label>PublishDate</label>
                        <input type="text" class="form-control" name="PublishDate" value="@Model.PublishDate">
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        <select class="form-control" name="DepartmentID">
                            @for (int i = 0; i < dt2.Rows.Count; i++)
                            {
                                <option @((@dt2.Rows[i]["DepartmentID"].ToString() == @Model.DepartmentID.ToString()) ? "selected=selected" : "" ) value="@dt2.Rows[i]["DepartmentID"]">@dt2.Rows[i]["DName"]</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Is Active</label>
                        <input type="checkbox" name="IsActive" value="1" @( Model.IsActive ? "checked='checked'" : "") />
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <input type="hidden" name="ID" value="@Model.ExamScheduleID" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (left) -->
</div>